<style>
  button.stt {
    position: fixed;
    bottom: 30px;
    left: 10px;
    background: none;
    border-radius: 30px;
    padding: 8px 15px;
    z-index: 2;
  }
  button.stt:hover {
    background: orangered;
    color: white;
  }
</style>
<button class="stt" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
  ▲
</button>